.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

    h1 {
        font-size: 6rem;
        font-weight: 700;
        color: var(--yellow-theme-main-color);
    }
}
