.wrapper-useEffectPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 6rem;
        font-weight: 700;
        color: var(--yellow-theme-main-color);
    }
}
